// assets/styles/_variables.scss
@use "sass:color";

$color-bg: #1e144f;
$color-accent: #9f60ff;
$color-white: #ffffff;
$color-text: #e0d9ff;
$color-dark: #0c062b;
$color-muted: #cbb9ff;

$spacing: 1rem;
$radius: 1.5rem;

$font-title: 'Orbitron', sans-serif;
$font-body: 'Inter', sans-serif;